@import "global/01-mixins";
@import "fonts";
@import "global/03-vars";
html {
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-size: 20px;
    line-height: 1;
    font-style: normal;
    font-weight: 400;
    color: #000;
    position: relative;
    height: 100%;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
}

div,
section,
footer,
.btn {
    box-sizing: border-box;
}

a {
    color: #000;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus,
input:focus {
    outline: none;
}

p {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 10px 0;
}

input {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    padding: 0 8px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

input:hover,
input:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    position: relative;
    padding: 0 0 0 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    color: #474747;
    margin-bottom: 1.5px;
}

ul li::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 11px;
    left: 0;
    background: #474747;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.title {
    color: #000;
    font-size: 42px;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 20px;
}

.desc {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    position: relative;
}
.container {
    max-width: 1442px;
    width: 100%;
    padding: 0 16px;
    position: relative;
    margin: 0 auto;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.btn-green {
    display: block;
    background: #20B63B;
    border-radius: 68px;
    font-weight: normal;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    padding: 19px 0 20px 0;
    color: #FFFFFF;
    text-align: center;
}

/* G E N E R A L */

header {
    padding: 42px 0 0 0;
    margin-bottom: 167px;
    .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .btn-green {
        font-weight: normal;
        max-width: 218px;
        width: 100%;
        margin-right: 30px;
        letter-spacing: 0;
        text-transform: none;
        font-size: 18px;
        line-height: 21px;
        padding: 13px 0 14px 0;
    }
}
.logo {
    margin-right: auto;
}
.tel {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #20B63B;
    padding: 0 0 0 27px;
    background: url(../img/tel.svg) no-repeat left center;
}
.address {
    margin-right: 122px;
    text-align: center;
    &>div {
        b {
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            color: #D3D3D3;
            margin-right: 6px;
            &:last-child {
                margin-right: 0;
            }
        }
        .station {
            margin-left: 20px;
            position: relative;
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 6px;
                left: -19px;
                width: 8px;
                height: 8px;
                background: #FFFFFF;
                border: 2px solid #EF1E25;
                box-sizing: border-box;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
}
        }
    }
    span {
        display: block;
        margin-top: 6px;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        color: #20B63B;
    }
}
.top-wrap {
    .subtitle {
        font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    color: #20B63B;
    margin-bottom: 25px;
    }
    .title {
        font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    color: #444444;
    margin-bottom: 30px;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}
.top-wrap__left {
    width: 49%;
    .btn-green {
        max-width: 529px;
        width: 100%;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        padding: 19px 0 20px 0;
        box-shadow: 0px 11px 31px rgba(31, 231, 67, 0.11);
    }
}
.top-wrap__right {
    position: relative;
    width: 50%;  
    top: -64px;
    left: -22px;
}
.price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 41px;
    span {
        position: relative;
        margin-right: 59px;
        font-weight: normal;
        font-size: 50px;
        line-height: 100%;
        color: #444444;
        &.throught::after {
            content: '';
            display: block;
            top: 50%;
            position: absolute;
            background:#C4C4C4;
            height: 2px;
            width: 100%;
            transform: skew(0deg, -12deg);
            -webkit-transform: skew(0deg, -12deg);
            -moz-transform: skew(0deg, -12deg);
            -ms-transform: skew(0deg, -12deg);
            -o-transform: skew(0deg, -12deg);
}
    }
    b {
        position: relative;
        font-weight: 500;
        font-size: 25px;
        line-height: 29px;
        color: #444444;
        &::before {
            content: '';
            display: block;
            width: 3px;
            height: 46px;
            position: absolute;
            left: -27px;
            top: 8px;
            background:#20B63B;
        }

    }
    
}
.action-date {
    font-weight: bold;
    font-size: 15px;
    line-height: 127.4%;
    text-align: left;
    padding: 0 0 0 115px;
    margin-top: 17px;
    color: #898989;
}
.about {
    margin: -34px 0 156px 0;
    .title {
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        color: #444444;
        margin-bottom: 38px;
    }
    .desc {
        max-width: 897px;
        width: 100%;
        margin: 0 auto;
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        text-align: center;
        color: #444444;
    }
}
.steps-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .btn-green {
        max-width: 253px;
        width: 100%;
        float: right;
    }
}
.steps {
    margin-bottom: 123px;
    .title {
        width: 62%;
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
        text-align: left;
        color: #444444;
        margin-bottom: 94px;
    }
}
.steps-box__left {
    width: 43%;
    .title {
        position: relative;
        padding-left: 247px;
        width: 100%;
        font-weight: 500;
        font-size: 28px;
        line-height: 120%;
        color: #2A2432;
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 182px;
            top: -42px;
            width: 104px;
            height: 4px;
            background:#20B63B;
        }
    }
}
.steps-box__right {
    width: 49%;
    .title {
        width: 100%;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        color: #444444;
        margin-bottom: 63px;
    }
}
.step-img-box {
    position: relative;
    height: 0;
    padding-bottom: 66%;
    z-index: 5;
    margin-bottom: 65px;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -48px;
        right: -49px;
        width: 156px;
        height: 148px;
        background: #FCF1EF;
        z-index: -1;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -120px;
        left: 0;
        width: 509px;
        height: 444px;
        background: #ECF6F8;
        z-index: -1;
    }
    img {
        @include imgCenter;
    }
   
}
.steps-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 70px;
    &:last-child {
        margin-bottom: 0;
    }
}
.num-step {
    width: 83px;
    font-weight: 250;
    font-size: 69px;
    line-height: 100%;
    color: #20B63B;
    margin-right: 36px;
}
.step-desc {
    b {
        display: block;
        font-weight: 500;
        font-size: 28px;
        line-height: 130%;
        color: #444444;
        margin-bottom: 12px;
    }
    span {
        display: block;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #868C94;
    }
}
.steps-items {
    width: 68%;
}
.works {
    margin-bottom: 156px;
    .title {
        max-width: 1174px;
        width: 100%;
        margin: 0 auto;
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        color: #444444;
        margin-bottom: 31px;
    }
    .desc {
        font-weight: 500;
        font-size: 28px;
        line-height: 130%;
        text-align: center;
        color: #444444;
        margin-bottom: 49px;
    }
    .btn-green {
        max-width: 379px;
        width: 100%;
        margin: 0 auto;
    }
}

.slider-works {
    max-width: 1136px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    .slick-slide {
        max-width: 1136px;
        width: 100%;
    }
    .slick-track {
        display: flex;
    }
}
.slick-arrow {
    @include tr2;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgba(238, 246, 249, 0.2);
    z-index: 2;
    &:before {
        content: none;
    }
}
.slick-prev:focus,
.slick-next:focus {
    background-color: rgba(238, 246, 249, 0.2);
}
.slick-prev:hover,  .slick-next:hover {
    background-color: #ECF6F8;
}
.slick-next {
    background-image: url(../img/next.svg);
    background-repeat: no-repeat;
    background-position: center;
    right: -136px;
}
.slick-prev {
    background: url(../img/prev.svg);
    background-repeat: no-repeat;
    background-position: center;
    left: -136px;
}
.slider-works__item {
    position: relative;
    
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    &:after {
        content: '';
        display: block;
        width: 2px;
        height: 100%;
        position: absolute;
        left: 50%;
        margin-left: -1px;
        background: #fff;
    }
    &>div {
        width: 50%;
        position: relative;
        height: 0;
        padding-bottom: 35.212%;
        img {
            @include imgCenter;
        }
        &:first-child::before {
            content: 'до';
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #FFFFFF;
            position: absolute;
            top: 21px;
            right: 36px;
            z-index: 3;
        }
        &:last-child::before {
            content: 'после';
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #FFFFFF;
            position: absolute;
            top: 21px;
            left: 36px;
            z-index: 3;
        }
    }
}
.note-works {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #868C94;
    margin-bottom: 31px;

}
.doctor-info {
    padding: 0 0 0 284px;
    margin-bottom: 31px;
    .title {
        font-weight: 600;
        text-align: left;
        font-size: 34px;
        line-height: 41px;
        color: #444444;
        margin-bottom: 48px;
    }
    p {
        max-width: 1136px;
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        color: #868C94;
        margin-bottom: 32px;
    }
}
.doctor-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 38px;
}
.doctor-img {
    margin-right: 106px;
    position: relative;
    height: 0;
    width: 202px;
    height: 202px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 5px #F7FAFC;
    img {
        @include imgCenter;
    }
}
.doctor-content {
    max-width: 337px;
    width: 100%;
    padding: 16px 0 0 0;
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 2px;
        height: 178px;
        background: #FCF1EF;
        position: absolute;
        left: -61px;
        top: 12px;
    }
    a {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #20B63B;
        padding: 10px 0 10px 41px;
        background: url(../img/pdf.svg) no-repeat left center;
    }
}
.doctor-name {
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    color: #444444;
    margin-bottom: 15px;
}
.doctor-desc {
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    line-height: 160%;
    color: #868C94;
    margin-bottom: 16px;
}
.doctor-service {
    max-width: 1136px;
    background: #F7FAFC;
    border-radius: 18px;
    padding: 31px 35px 30px 24px;
}
.sertificate {
    margin-bottom: 126px;
    .title {
        padding-left: 384px;
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
        color: #444444;
        margin-bottom: 36px;
    }
    .btn-green {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }
}
.sertificate-slider {
    margin-bottom: 44px;
}
.sertificate-slider__item {
    margin: 0 2.5px;
    height: 341px;
}
.table-wrap {
    margin-bottom: 130px;
    .title {
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        color: #444444;
        margin-bottom: 44px;
    }
}
.table {
    max-width: 1136px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 25px;
    border-bottom: 1px solid #F2F2F2;
}
.table-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &>div:first-child {
        padding-right: 22px;
    }
    div:first-child,
    b:first-child  {
        width: 61.3%;
    }
    div:nth-child(2),
    b:nth-child(2) {
        width: 26.6%;
    }
    div:last-child,
    b:last-child {
        width: 10%;
    }
    border-radius: 15px;
    padding: 19.5px 0;
    padding-left: 22px;
    &:nth-child(even) {
        background: #F7FAFC;
    }
    
    b {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        text-transform: uppercase;
        color: #000000;
    }
    span {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #868C94;
    }
}

.table-last {
    border: none;
    padding-bottom: 0;
    margin-bottom: 35px;
    .table-line {
        &>div:first-child {
            width: 61.3%;
        }
        &>div:last-child {
            width: 26%;
        }
    }
}
.table-last +.btn-green {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
}
.rewiews {
    margin-bottom: 122px;
    .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: #444444;
        margin-bottom: 48px;
    }
    .btn-green {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }
}
.rewiews-slider-big {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 43px;
}
.rewiews-slider-big__item {
    position: relative;
    max-width: 1000px;
    width: 100%;
    height: 562px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    .play {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        display: block;
        width: 76px;
        height: 76px;
        background-color: #FFFFFF;
        background-image: url(../img/play.svg);
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}
.rewiews-slider-thumbs {
    max-width: 212px;
    width: 100%;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 43px;
    .slick-track {
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rewiews-slider-thumbs__item {
        @include tr2;
        outline: none;
        cursor: pointer;
        margin: 0 21px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: #D3D3D3;
    }
    .slick-active {
        width: 10px;
        height: 10px;
    }
    .slick-current {
        margin: 0 12px;
        width: 20px;
        height: 20px;
        background: #FFFFFF;
        border: 3px solid #20B63B;
        box-sizing: border-box;
    }
}
.exs {
    margin-bottom: 136px;
    .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: #444444;
        margin-bottom: 73px;
    }
}
.exs-items {
    display: flex;
    justify-content: center;
    align-items: center;
}
.exs-item {
    min-width: 405px;
    max-width: 450px;
    margin: 0 20px;
}
.exs-item__title {
    position: relative;
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    color: #2A2432;
    margin-bottom: 52px;
    &::after {
        content: '';
        display: block;
        width: 39px;
        height: 3px;
        position: absolute;
        background: #ECF6F8;
        left: 50%;
        bottom: -28px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}
}
.exs-item__desc {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #868C94;
}
.exs-item__img {
    margin: 0 auto;
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #FFFFFF;
    box-shadow: 0px 7px 24px rgba(215, 231, 236, 0.51);
    border-radius: 27px;
    margin-bottom: 34px;
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}
.map-wrap {
    position: relative;
    height: 729px;
    background: #ccc;
}
.map-contacts {
    max-width: 391px;
    width: 100%;
    display: block;
    position: relative;
    top: 242px;
    left: 0px;
    box-sizing: border-box;
    z-index: 3;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 39px 40px 44px 40px;
    .title {
        font-weight: 600;
        font-size: 28px;
        line-height: 100%;
        color: #444444;
        margin-bottom: 30px;
    }
}
.map-contacts__item {
    padding: 0 0 0 39px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #444444;
    margin-bottom: 27px;
    &:last-child {
        margin-bottom: 0;
    }
    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #444444;
    }
}
.map-address {
    background: url(../img/gps.svg) no-repeat left center;
}
.map-tel {
    background: url(../img/phone.svg) no-repeat left center;
}
.map-worktime {
    background: url(../img/clock.svg) no-repeat left center;
}
footer {
    padding: 45px 0 48px 0;
    .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .btn-green {
        font-weight: normal;
        max-width: 218px;
        width: 100%;
        margin-right: 30px;
        letter-spacing: 0;
        text-transform: none;
        font-size: 18px;
        line-height: 21px;
        padding: 13px 0 14px 0;
    }
}



/* I E   S T Y L E S */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .block {
        width: 100%;
    }
}


.ov-hidden {
    overflow: hidden;
}

@media screen and (min-width:992px) {
    .btn-orange:hover {
        background: #ec4824;
    }
}


/* 
    M O B I L E
*/

@media screen and (max-width: 1200px) {
    html,
    body {
        min-width: 320px;
        width: 100%;
        overflow-x: hidden;
    }
    a:focus {
        outline: none;
    }
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {
   
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 575px) {}
