@import "global/01-mixins";
@import "fonts";
@import "global/03-vars";
html {
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-size: 20px;
    line-height: 1;
    font-style: normal;
    font-weight: 400;
    color: #000;
    position: relative;
    height: 100%;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
}

div,
section,
footer,
.btn {
    box-sizing: border-box;
}

a {
    color: #000;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus,
input:focus {
    outline: none;
}

p {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 10px 0;
}

input {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    padding: 0 8px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

input:hover,
input:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    position: relative;
    padding: 0 0 0 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    color: #474747;
    margin-bottom: 1.5px;
}

ul li::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 11px;
    left: 0;
    background: #474747;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.title {
    color: #000;
    font-size: 42px;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 20px;
}

.desc {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    position: relative;
}
.text-decor {
    position: absolute;
    top: 1024px;
    left: 0;
    z-index: 10;
}
.container {
    max-width: 1442px;
    width: 100%;
    padding: 0 16px;
    position: relative;
    margin: 0 auto;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.btn-green {
    display: block;
    background: #20B63B;
    border-radius: 68px;
    font-weight: normal;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    padding: 19px 0 20px 0;
    color: #FFFFFF;
    text-align: center;
}

/* G E N E R A L */

header {
    padding: 42px 0 0 0;
    margin-bottom: 167px;
    .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .btn-green {
        font-weight: normal;
        max-width: 218px;
        width: 100%;
        margin-right: 30px;
        letter-spacing: 0;
        text-transform: none;
        font-size: 18px;
        line-height: 21px;
        padding: 13px 0 14px 0;
    }
}
.logo {
    margin-right: auto;
}
.tel {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #20B63B;
    padding: 0 0 0 27px;
    background: url(../img/tel.svg) no-repeat left center;
}
.address {
    margin-right: 122px;
    text-align: center;
    &>div {
        b {
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            color: #D3D3D3;
            margin-right: 6px;
            &:last-child {
                margin-right: 0;
            }
        }
        .station {
            margin-left: 20px;
            position: relative;
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 6px;
                left: -19px;
                width: 8px;
                height: 8px;
                background: #FFFFFF;
                border: 2px solid #EF1E25;
                box-sizing: border-box;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
}
        }
    }
    span {
        display: block;
        margin-top: 6px;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        color: #20B63B;
    }
}
.top-wrap {
    .subtitle {
        font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    color: #20B63B;
    margin-bottom: 25px;
    }
    .title {
        font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    color: #444444;
    margin-bottom: 30px;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}
.top-wrap__left {
    width: 49%;
    .btn-green {
        max-width: 529px;
        width: 100%;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        padding: 19px 0 20px 0;
        box-shadow: 0px 11px 31px rgba(31, 231, 67, 0.11);
    }
}
.top-wrap__right {
    position: relative;
    width: 50%;  
    top: -64px;
    left: -22px;
}
.price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 41px;
    span {
        position: relative;
        margin-right: 59px;
        font-weight: normal;
        font-size: 50px;
        line-height: 100%;
        color: #444444;
        &.throught::after {
            content: '';
            display: block;
            top: 50%;
            position: absolute;
            background:#C4C4C4;
            height: 2px;
            width: 100%;
            transform: skew(0deg, -12deg);
            -webkit-transform: skew(0deg, -12deg);
            -moz-transform: skew(0deg, -12deg);
            -ms-transform: skew(0deg, -12deg);
            -o-transform: skew(0deg, -12deg);
}
    }
    b {
        position: relative;
        font-weight: 500;
        font-size: 25px;
        line-height: 29px;
        color: #444444;
        &::before {
            content: '';
            display: block;
            width: 3px;
            height: 46px;
            position: absolute;
            left: -27px;
            top: 8px;
            background:#20B63B;
        }

    }
    
}
.action-date {
    font-weight: bold;
    font-size: 15px;
    line-height: 127.4%;
    text-align: left;
    padding: 0 0 0 115px;
    margin-top: 17px;
    color: #898989;
}
.about {
    position: relative;
    margin: -34px 0 156px 0;
    .title {
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        color: #444444;
        margin-bottom: 38px;
    }
    .desc {
        max-width: 897px;
        width: 100%;
        margin: 0 auto;
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        text-align: center;
        color: #444444;
    }
}
.decor-top{
    position: absolute;
    top: 332px;
    right: 0;
}
.decor-middle{
    position: absolute;
    top: 2712px;
    right: 0;
}
.decor-bottom{
    position: absolute;
    bottom: 2292px;
    right: 0;
}
.steps-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .btn-green {
        max-width: 253px;
        width: 100%;
        float: right;
    }
}
.steps {
    margin-bottom: 123px;
    .title {
        position: relative;
        width: 62%;
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
        text-align: left;
        color: #444444;
        margin-bottom: 94px;
        
    }
}
.steps>.container>.title::before {
    content: '';
    display: block;
    width: 57px;
    height: 83px;
    background: url(../img/tringle.svg) no-repeat center;
    position: absolute;
    top: -147px;
    left: 0;
}
.steps-box__left {
    width: 43%;
    .title {
        position: relative;
        padding-left: 247px;
        width: 100%;
        font-weight: 500;
        font-size: 28px;
        line-height: 120%;
        color: #2A2432;
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 182px;
            top: -42px;
            width: 104px;
            height: 4px;
            background:#20B63B;
        }
    }
}
.steps-box__right {
    width: 49%;
    .title {
        width: 100%;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        color: #444444;
        margin-bottom: 63px;
    }
}
.step-img-box {
    position: relative;
    height: 0;
    padding-bottom: 66%;
    z-index: 5;
    margin-bottom: 65px;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -48px;
        right: -49px;
        width: 156px;
        height: 148px;
        background: #FCF1EF;
        z-index: -1;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -120px;
        left: 0;
        width: 509px;
        height: 444px;
        background: #ECF6F8;
        z-index: -1;
    }
    img {
        @include imgCenter;
    }
   
}
.steps-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 70px;
    &:last-child {
        margin-bottom: 0;
    }
}
.num-step {
    width: 83px;
    font-weight: 250;
    font-size: 69px;
    line-height: 100%;
    color: #20B63B;
    margin-right: 36px;
}
.step-desc {
    b {
        display: block;
        font-weight: 500;
        font-size: 28px;
        line-height: 130%;
        color: #444444;
        margin-bottom: 12px;
    }
    span {
        display: block;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #868C94;
    }
}
.steps-items {
    width: 68%;
}
.works {
    margin-bottom: 156px;
    .title {
        max-width: 1174px;
        width: 100%;
        margin: 0 auto;
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        color: #444444;
        margin-bottom: 31px;
    }
    .desc {
        font-weight: 500;
        font-size: 28px;
        line-height: 130%;
        text-align: center;
        color: #444444;
        margin-bottom: 49px;
    }
    .btn-green {
        max-width: 379px;
        width: 100%;
        margin: 0 auto;
    }
}

.slider-works {
    max-width: 1136px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    .slick-slide {
        max-width: 1136px;
        width: 100%;
    }
    .slick-track {
        display: flex;
    }
}
.slick-arrow {
    @include tr2;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgba(238, 246, 249, 0.2);
    z-index: 2;
    &:before {
        content: none;
    }
}
.slick-prev:focus,
.slick-next:focus {
    background-color: rgba(238, 246, 249, 0.2);
}
.slick-prev:hover,  .slick-next:hover {
    background-color: #ECF6F8;
}
.slick-next {
    background-image: url(../img/next.svg);
    background-repeat: no-repeat;
    background-position: center;
    right: -136px;
}
.slick-prev {
    background-image: url(../img/prev.svg);
    background-repeat: no-repeat;
    background-position: center;
    left: -136px;
}
.slider-works__item {
    position: relative;
    
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    &:after {
        content: '';
        display: block;
        width: 2px;
        height: 100%;
        position: absolute;
        left: 50%;
        margin-left: -1px;
        background: #fff;
    }
    &>div {
        width: 50%;
        position: relative;
        height: 0;
        padding-bottom: 35.212%;
        img {
            @include imgCenter;
        }
        &:first-child::before {
            content: 'до';
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #FFFFFF;
            position: absolute;
            top: 21px;
            right: 36px;
            z-index: 3;
        }
        &:last-child::before {
            content: 'после';
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #FFFFFF;
            position: absolute;
            top: 21px;
            left: 36px;
            z-index: 3;
        }
    }
}
.note-works {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #868C94;
    margin-bottom: 31px;

}
.doctor-info {
    padding: 0 0 0 284px;
    margin-bottom: 31px;
    .title {
        font-weight: 600;
        text-align: left;
        font-size: 34px;
        line-height: 41px;
        color: #444444;
        margin-bottom: 48px;
    }
    p {
        max-width: 1136px;
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        color: #868C94;
        margin-bottom: 32px;
    }
}
.doctor-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 38px;
}
.doctor-img {
    margin-right: 106px;
    position: relative;
    height: 0;
    width: 202px;
    height: 202px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 5px #F7FAFC;
    img {
        @include imgCenter;
    }
}
.doctor-content {
    max-width: 337px;
    width: 100%;
    padding: 16px 0 0 0;
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 2px;
        height: 178px;
        background: #FCF1EF;
        position: absolute;
        left: -61px;
        top: 12px;
    }
    a {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #20B63B;
        padding: 10px 0 10px 41px;
        background: url(../img/pdf.svg) no-repeat left center;
    }
}
.doctor-name {
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    color: #444444;
    margin-bottom: 15px;
}
.doctor-desc {
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    line-height: 160%;
    color: #868C94;
    margin-bottom: 16px;
}
.doctor-service {
    max-width: 1136px;
    background: #F7FAFC;
    border-radius: 18px;
    padding: 31px 35px 30px 24px;
}
.sertificate {
    margin-bottom: 126px;
    .title {
        padding-left: 384px;
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
        color: #444444;
        margin-bottom: 36px;
    }
    .btn-green {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }
}
.sertificate-slider {
    margin-bottom: 44px;
}
.sertificate-slider__item {
    margin: 0 2.5px;
    height: 341px;
}
.table-wrap {
    position: relative;
    margin-bottom: 130px;
    .title {
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
        color: #444444;
        margin-bottom: 44px;
    }
}
.table {
    max-width: 1136px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 25px;
    border-bottom: 1px solid #F2F2F2;
}
.table-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &>div:first-child {
        padding-right: 22px;
    }
    div:first-child,
    b:first-child  {
        width: 61.3%;
    }
    div:nth-child(2),
    b:nth-child(2) {
        width: 26.6%;
    }
    div:last-child,
    b:last-child {
        width: 10%;
    }
    border-radius: 15px;
    padding: 19.5px 0;
    padding-left: 22px;
    &:nth-child(even) {
        background: #F7FAFC;
    }
    
    b {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        text-transform: uppercase;
        color: #000000;
    }
    span {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #868C94;
    }
}

.table-last {
    border: none;
    padding-bottom: 0;
    margin-bottom: 35px;
    .table-line {
        &>div:first-child {
            width: 61.3%;
        }
        &>div:last-child {
            width: 26%;
        }
    }
}
.table-last +.btn-green {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
}
.rewiews {
    position: relative;
    margin-bottom: 122px;
    .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: #444444;
        margin-bottom: 48px;
    }
    .btn-green {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }
}
.lines {
    position: absolute;
    top: 0;
    left: 0;
}
.lines2 {
    position: absolute;
    top: 0;
    left: 0;
}
.rewiews-slider-big {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 43px;
}
.rewiews-slider-big__item {
    position: relative;
    max-width: 1000px;
    width: 100%;
    height: 562px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    .play {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        display: block;
        width: 76px;
        height: 76px;
        background-color: #FFFFFF;
        background-image: url(../img/play.svg);
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}
.rewiews-slider-thumbs {
    max-width: 212px;
    width: 100%;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 43px;
    .slick-track {
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rewiews-slider-thumbs__item {
        @include tr2;
        outline: none;
        cursor: pointer;
        margin: 0 21px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: #D3D3D3;
    }
    .slick-active {
        width: 10px;
        height: 10px;
    }
    .slick-current {
        margin: 0 12px;
        width: 20px;
        height: 20px;
        background: #FFFFFF;
        border: 3px solid #20B63B;
        box-sizing: border-box;
    }
}
.exs {
    margin-bottom: 136px;
    .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: #444444;
        margin-bottom: 73px;
    }
}
.exs-items {
    display: flex;
    justify-content: center;
    align-items: center;
}
.exs-item {
    min-width: 405px;
    max-width: 450px;
    margin: 0 20px;
}
.exs-item__title {
    position: relative;
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    color: #2A2432;
    margin-bottom: 52px;
    &::after {
        content: '';
        display: block;
        width: 39px;
        height: 3px;
        position: absolute;
        background: #ECF6F8;
        left: 50%;
        bottom: -28px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}
}
.exs-item__desc {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #868C94;
}
.exs-item__img {
    margin: 0 auto;
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #FFFFFF;
    box-shadow: 0px 7px 24px rgba(215, 231, 236, 0.51);
    border-radius: 27px;
    margin-bottom: 34px;
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}
.map-wrap {
    position: relative;
    height: 729px;
    background: #ccc;
}
.map-contacts {
    max-width: 391px;
    width: 100%;
    display: block;
    position: relative;
    top: 242px;
    left: 0px;
    box-sizing: border-box;
    z-index: 3;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 39px 40px 44px 40px;
    .title {
        font-weight: 600;
        font-size: 28px;
        line-height: 100%;
        color: #444444;
        margin-bottom: 30px;
    }
}
.map-contacts__item {
    padding: 0 0 0 39px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #444444;
    margin-bottom: 27px;
    &:last-child {
        margin-bottom: 0;
    }
    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #444444;
    }
}
.map-address {
    background: url(../img/gps.svg) no-repeat left center;
}
.map-tel {
    background: url(../img/phone.svg) no-repeat left center;
}
.map-worktime {
    background: url(../img/clock.svg) no-repeat left center;
}
footer {
    padding: 45px 0 48px 0;
    .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .btn-green {
        font-weight: normal;
        max-width: 218px;
        width: 100%;
        margin-right: 30px;
        letter-spacing: 0;
        text-transform: none;
        font-size: 18px;
        line-height: 21px;
        padding: 13px 0 14px 0;
    }
}
.popup-wrap {
    background: rgba(0, 0, 0, 0.5);
    display: block;
    opacity: 0;
    overflow: auto;
    position: fixed;
    z-index: 999999;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    @include tr3;
}
.popup {
    position: relative;
    margin: 100px auto 100px;
    opacity: 0;
    visibility: hidden;
    @include tr3;
    z-index: 999;
    max-width: 548px;
    width: 100%;
    background: #FFFFFF;
    padding: 47px 53px 37px 53px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transform: translateY(-500px);
    -webkit-transform: translateY(-500px);
    -moz-transform: translateY(-500px);
    -ms-transform: translateY(-500px);
    -o-transform: translateY(-500px);
    .title {
        font-weight: 500;
        font-size: 22px;
        line-height: 140%;
        text-align: center;
        color: #444444;
        margin-bottom: 4px;
    }
}
.form-popup {
    button {
        display: block;
        max-width: 212px;
        width: 100%;
        margin: 0 auto;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0;
        text-transform: none;
        padding: 13px 0 14px 0;
    }
}
.form-popup__item {
    position: relative;
    margin-bottom: 17px;
    span {
        @include tr2;
        position: absolute;
        top: 20px;
        left: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #A5AEBC;
        z-index: 0;
    }
    input {
        background: transparent;
        position: relative;
        z-index: 3;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid #E3EBF2;
        padding: 15px 0 15px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #A5AEBC;
        margin-bottom: 0;
    }
}
.form-popup__item input.active+span,
.form-popup__item input:hover+span {
    top: 0;
    font-size: 12px;
}
.popup-active {
    visibility: visible;
    opacity: 1;
    outline: none;
    .popup {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}
.btn-close {
    display: block;
    width: 17px;
    height: 17px;
    background: url(../img/close.svg) no-repeat center;
    position: absolute;
    top: -39px;
    right: 0;
}
.agree {
    position: relative;
    padding: 0 0 0 38px;
    margin-bottom: 32px;
    margin-top: 34px;
    input {
        width: 1px;
        height: 1px;
        opacity: 0;
        position: absolute;
        left: 10px;
        top: 21px;
    }
    label {
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: #444444;
    }
    span {
        @include tr2;
        position: absolute;
        top: 11px;
        left: 0;
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid #E3EBF2;
        box-sizing: border-box;
        border-radius: 7px;
        overflow: hidden;
        &::after {
            @include tr2;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0;
            background: url(../img/galka.svg) no-repeat center;
        }
    }
    a {
        text-decoration: underline;
    }
}
.agree input:checked+span::after {
   opacity: 1;
}
#popup-wrap-thanks {
    .title {
        margin-bottom: 26px;
    }
    a.btn-green {
        max-width: 196px;
        width: 100%;
        margin: 0 auto;
    }
}
.map {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.ballon-box {
    position: relative;
    max-width: 202px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px 25px 14px 38px;
    &::before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        box-sizing: border-box;
        position: absolute;
        background: #FFFFFF;
        border: 3px solid #20B63B;
        bottom: -5px;
        left: -4px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    &::after {
        content: '';
        display: block;
        width: 52px;
        height: 59px;
        box-sizing: border-box;
        position: absolute;
        background: url(../img/map-logo.svg) no-repeat center;
        top: 16px;
        left: -26px;
        
    }
}
.ballon-box__top {
    padding-bottom: 15px;
    margin-bottom: 14px;
    border-bottom: 0.4px solid #ECECEC;
    span {
        display: block;
        position: relative;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        color: #444444;
        padding: 0 0 0 22px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 3px;
            left: 0;
            width: 10px;
            height: 10px;
            background: #FFFFFF;
            border: 2px solid #EF1E25;
            box-sizing: border-box;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }
}

.ballon-box__bottom {
    span {
        display: block;
        position: relative;
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
        color: #868C94;
        padding: 0 0 0 8px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -2px;
            left: -4px;
            width: 18px;
            height: 18px;
            background: url(../img/parking-ico.svg) no-repeat center;
        }
    }
}
[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}



/* I E   S T Y L E S */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .block {
        width: 100%;
    }
}


.ov-hidden {
    overflow: hidden;
}

@media screen and (min-width:992px) {
    .btn-orange:hover {
        background: #ec4824;
    }
}


/* 
    M O B I L E
*/

@media screen and (max-width: 1800px) {
    .step-img-box::after {
        width: 320px;
    }
}

@media screen and (max-width: 1640px) {
    .steps .title {
        padding-left: 129px;
        width: 100%;
    }
    .steps-box__right .title {
        padding-left: 0;
    }
    .works .title {
        font-size: 42px;
        line-height: 1.3;
    }
    .works .desc {
        padding: 0 100px;
    }
}

@media screen and (max-width: 1480px) {
    .steps-box__left .title {
        font-size: 25px;
    }
    .steps>.container>.title {
        padding-left: 0;
    }
    .container {
        max-width: 1200px;
    }
    .top-wrap .title {
        font-size: 38px;
        line-height: 46px;
    }
    .price span {
        font-size: 38px;
    }
    .price b {
        font-size: 23px;
    }
    .step-img-box::after {
        content: none;
    }
    .steps-item {
        margin-bottom: 30px;
    }
    .num-step {
        width: 60px;
        margin-right: 25px;
        font-size: 60px;
        flex-shrink: 0;
    }
    .step-desc b {
        font-size: 24px;
    }
    .step-desc span {
        font-size: 16px;
    }
    .steps-items {
        width: 77%;
    }
    .doctor-info {
        padding: 0;
    }
    .slider-works .slick-next {
        right: -39px;
    }
    .slider-works .slick-prev {
        left: -39px;
    }
    .sertificate .title {
        padding-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 1420px) {
    .text-decor {
        width: 7%;
    }
    .exs-item {
        min-width: initial;
        max-width: initial;
        margin: 0 20px;
        width: 30%;
    }
    .table-wrap .title {
        font-size: 42px;
        line-height: 1.3;
    }
}

@media screen and (max-width: 1330px) {
    .text-decor {
        display: none;
    }
    .steps > .container > .title::before {
        content: none;
    }
    header {
        margin-bottom: 115px;
    }
    .steps .title {
        font-size: 42px;
    }
    .steps-box__left .title {
        font-size: 32px;
    }
    .decor-top,
    .decor-middle,
    .decor-bottom,
    .lines,
    .lines2 {
        display: none;
    }
    .steps .steps-box__left .title {
        padding-left: 56px;
        font-size: 28px;
    }
    .steps-box__left .title::before {
        left: 56px;
    }
    .steps-box__right .title {
        font-size: 32px;    
    }
    .slider-works .slick-slide {
        max-width: 100%;
    }
    .rewiews-slider-big .slick-arrow {
        background-color: #fff;
        width: 50px;
        height: 50px;
        background-size: 20%;
    }
    .rewiews-slider-big .slick-prev {
        left: 15px;
    }
    .rewiews-slider-big .slick-next {
        right: 15px;
    }
    .slider-works .slick-next {
        right: 15px;
        width: 50px;
        height: 50px;
        background-size: 20%;
    }
    .slider-works .slick-prev {
        left: 15px;
        width: 50px;
        height: 50px;
        background-size: 20%;
    }
    .sertificate-slider__item {
        max-width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    html,
    body {
        min-width: 320px;
        width: 100%;
        overflow-x: hidden;
    }
    a:focus {
        outline: none;
    }
    .works .title {
        font-size: 32px;
        line-height: 1.2;
    }
    .works .desc {
        font-size: 24px;
    }
    .works {
        margin-bottom: 70px;
    }
    .steps-box {
        flex-direction: column;
    }
    .steps-box__left {
        width: 100%;
    }
    .steps .title {
        font-weight: 600;
        font-size: 27px;
        line-height: 32px;
    }
    .steps .steps-box__left .title {
        padding-left: 16px;
    }
    .steps .title {
        margin-bottom: 79px;
    }
    .steps-box__right {
        width: 100%;
        padding: 0 16px;
    }
    .about {
        margin: 0 0 70px 0;
    }
    .top-wrap {
        margin-bottom: 30px;
    }
    .about .title {
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
        text-align: left;
        margin-bottom: 18px;
    }
    .about .desc {
        max-width: 100%;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        text-align: left;
    }
    .steps .steps-box__left .title {
        font-weight: 500;
        font-size: 22px;
        line-height: 120%;
        text-align: left;
    }
    .steps-box__left .title::before {
        height: 3px;
        top: -15px;
        left: 16px;
    }
    .steps .steps-box__left .title {
        margin-bottom: 35px;
    }
    .step-img-box::before {
        content: none;
    }
    .step-img-box {
        margin-bottom: 41px;
    }
    .steps-box .btn-green {
        float: none;
        margin-top: 40px;
    }
    .steps .title {
        font-weight: 600;
        font-size: 27px;
        line-height: 32px;
        margin-bottom: 43px;
    }
    .num-step {
        width: 43px;
        margin-right: 20px;
        font-size: 36px;
    }
    .step-desc b {
        font-size: 22px;
        margin-bottom: 8px;
    }
    .step-desc span {
        font-size: 16px;
    }
    .steps {
        margin-bottom: 70px;
    }
    .works .title {
        font-size: 24px;
        text-align: left;
    }
    .works .desc {
        padding: 0;
        text-align: left;
        font-size: 20px;
    }
    .note-works {
        font-size: 16px;
        text-align: left;
    }
    .works .btn-green{
        margin: 0;
    }
    .doctor-info .title {
        font-size: 24px;
        margin-bottom: 23px;
    }
    .tel {
        font-size: 16px;
    }
    header .btn-green,
    footer .btn-green {
        max-width: 175px;
    }
    .address {
        margin-right: 70px;
    }
    .exs-items {
        align-items: flex-start;
    }
}

@media screen and (max-width: 1150px) {
    .top-wrap .title {
        font-size: 32px;
    }
    .top-wrap__right {
        width: 44%;
    }
    .price span {
        font-size: 37px;
    }
    .price b {
        font-size: 20px;
    }
    .top-wrap .title {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    .top-wrap .subtitle {
        font-size: 18px;
        margin-bottom: 11px;
    }
    .top-wrap__left {
        width: 52%;
    }
    .steps-items {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
   header .address {
       display: none;
   }
   .top-wrap__right {
        width: 39%;
    }
    .top-wrap__left {
        width: 57%;
    }
    .action-date {
        padding-left: 0;
    }
    .table-wrap .title {
        font-size: 32px;
    }
    .table-line span {
        font-size: 16px;
    }
    footer .tel {
        font-size: 0;
        padding: 0;
        border: 1px solid #F0F0F0;
        box-sizing: border-box;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-position: center;
    }
}

@media screen and (max-width: 900px) {
    .top-wrap .container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .top-wrap__right {
        width: 50%;
    }
    .top-wrap__left {
        width: 100%;
    }
    .exs-item__title {
        font-size: 24px;
        margin-bottom: 28px;
    }
    .exs-item__desc {
        font-size: 16px;
        line-height: 130%;
    }
    .exs-item__title::after {
        bottom: -16px;
    }
    .map-contacts {
        max-width: 100%;
        top: -180px;
        padding: 22px 15px 22px 10px;
        box-shadow: 0px 18px 25px rgba(212, 215, 217, 0.52);
        border-radius: 8px;
    }
    .ballon-box {
        max-width: 202px;
        width: 100%;
    }
    .exs {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 880px) {
    footer .btn-green {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 43px;
    }
    footer .address {
        margin-right: 0;
    }
}

@media screen and (max-width: 700px) {
    .top-wrap__right {
        width: 100%;
    }
    .doctor-img {
        margin-right: 75px;
        flex-shrink: 0;
    }
    .doctor-name {
        font-size: 24px;
        margin-bottom: 11px;
    }
    .doctor-desc {
        font-size: 13px;
        margin-bottom: 23px;
    }
    .doctor-content::before {
        left: -41px;
    }
    .sertificate-slider__item {
        height: 180px;
    }
    .sertificate .title {
        text-align: left;
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        padding-left: 16px;
    }
    .exs-items {
        flex-direction: column;
    }
    .exs-item {
        width: 100%;
        margin: 0 0 40px 0;
    }
    .exs-item__img {
        margin-bottom: 18px;
    }
    .exs .title {
        font-size: 27px;
        line-height: 32px;
        margin-bottom: 40px;
    }
    .rewiews,
    .table-wrap {
        margin-bottom: 70px;
    }
    .rewiews-slider-thumbs,
    .rewiews-slider-big {
        margin-bottom: 30px;
    }
    ul li {
        font-size: 13px;
    }
    ul li::before {
        top: 9px;
    }
    .doctor-service {
        padding: 12px 16px 16px 16px;
    }
    header {
        padding-top: 28px;
        margin-bottom: 20px;
    }
    .call-back {
        width: 90%;
        margin: 0 auto;
    }
    .top-wrap__right {
        margin-top: 15px;
        position: relative;
        top: 0;
        left: 0;
    }
    .top-wrap__right {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .works .desc {
        display: none;
    }
    .doctor-info p {
        display: none;
    }
    .sertificate .btn-green {
        max-width: 100%;
        width: 90%;
        margin: 0 auto;
    }
    header .tel {
        font-size: 0;
        padding: 0;
        border: 1px solid #F0F0F0;
        box-sizing: border-box;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-position: center;
    }
    .rewiews-slider-big__item {
        height: 161px;
    }
    .rewiews-slider-big__item .play {
        width: 46px;
        height: 46px;
        background-size: 36%;
    }
    .rewiews .title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 27px;
    }
    .price {
        flex-direction: column;
        align-items: flex-start;
    }
    .price b::before {
        content: none;
    }
    .price span,
    .price {
        margin-bottom: 22px;
    }
    .top-wrap__left .btn-green {
        font-size: 12px;
        line-height: 181.3%;
        padding: 17px 10px 17px 10px;
        box-sizing: border-box;
    }
    .call-back {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0;
        text-transform: none;
        padding: 14px 0 15px 0;
    }
    .action-date {
        font-size: 13px;
        line-height: 100%;
        text-align: center;
    }
    .top-wrap {
        margin-bottom: 50px;
    }
    .steps-item {
        margin-bottom: 50px;
    }
    .steps-box .btn-green {
        max-width: 100%;
    }
    .works .title {
        margin-bottom: 28px;
    }
    .slider-works__item > div:first-child::before {
        font-size: 12px;
        line-height: 15px;
        top: 8px;
        right: 18px;
    }
    .slider-works__item > div:last-child::before{
        font-size: 12px;
        line-height: 15px;
        top: 8px;
        left: 18px;
    }
    .slider-works {
        max-width: initial;
        width: initial;
        margin: 0 -16px;
        margin-bottom: 16px;
    }
    .slider-works .slick-next {
        width: 36px;
        height: 36px;
        background-color: rgba(247, 247, 247, 0.8);
        right: -10px;
    }
    .slider-works .slick-prev {
        width: 36px;
        height: 36px;
        background-color: rgba(247, 247, 247, 0.8);
        left: -10px;
    }
    .works .btn-green {
        max-width: 100%;
    }
    .doctor-box {
        flex-direction: column;
    }
    .doctor-img {
        width: 138px;
        height: 138px;
        margin-right: 0;
    }
    .doctor-box {
        margin-bottom: 23px;
    }
    .doctor-info .title {
        line-height: 29px;
    }
    .sertificate-slider {
        .slick-list {
            padding-left: 16px;
        }
    }
    .sertificate {
        margin-bottom: 70px;
    }
    .table-wrap .title {
        font-size: 26px;
    }
    .popup {
        width: 90%;
        padding: 38px 16px 37px 16px;
    }
    .agree {
        padding: 0 0 0 30px;
    }
}

@media screen and (max-width: 599px) {
    .rewiews-slider-big {
        width: initial;
        max-width: initial;
        margin: 0 -16px;
        margin-bottom: 30px;
        .slick-list {
            padding: 0 16px;
        }
    }
    .rewiews-slider-big__item {
        margin: 0 8px;
        max-width: 288px;
    }
}

@media screen and (max-width: 500px) {
    .table .table-line b:last-child,
    .table .table-line b:nth-last-child(2),
    .table .table-line div:last-child,
    .table .table-line div:nth-last-child(2) {
        display: none;
    }
    .table .table-line div:first-child, .table table-line b:first-child {
        width: 100%;
    }
    .table {
        max-width: initial;
        width: initial;
        margin: 0 -16px;
    }
    .table .table-line {
        padding: 16px 0;
        padding-left: 16px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .table-last .table-line div:last-child,
    .table-last .table-line div:nth-last-child(2) {
        display: block;
    }
    .table-last .table-line b:last-child,
    .table-last .table-line b:nth-last-child(2) {
        display: block;
    }
    .table-last .table-line b:first-child,
    .table-last .table-line div:first-child {
        width: 50%;
    }
    .table-last .table-line b:last-child,
    .table-last .table-line div:last-child {
        width: 50%;
    }
    .table-last + .btn-green {
        max-width: 100%;
        margin-top: 29px;
    }
    .map-wrap {
        height: 320px;
    }
    
    .table-line div:first-child, .table-line b:first-child {
        width: 100%;
    }
    .works .btn-green,
    .sertificate .btn-green {
        font-size: 12px;
    }
    .exs {
        padding-bottom: 50px;
    }
    .map-contacts__item {
        padding: 1px 0 1px 20px;
        font-size: 14px;
    }
    .map-contacts__item a {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
    }
    .address > div b {
        font-size: 14px;
    }
    .address span {
        font-size: 16px;
    }
    footer {
        padding: 21px 0 60px 0;
    }
    footer .btn-green {
        max-width: 90%;
    }
   .table-last div:last-child {
       padding-right: 16px;
   }
   .table-last  .table-line span {
        font-size: 14px;
    }
}